name: docs-stable
on:
    push:
        tags: [v*]
jobs:
    Documenter:
        name: Documentation
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: julia-actions/julia-buildpkg@latest
            - uses: julia-actions/julia-docdeploy@latest
              env:
                  DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }}
